<div class="form_statement">
  <%= form_for(@statement) do |f| %>
      <% if @statement.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

            <ul>
              <% @statement.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.text_field :name, :placeholder => :name %>
      </div>
      <div class="field">
        <%= f.text_field :email, :placeholder => :email %>
      </div>
      <div class="field">

        <%= f.text_area :depo, :placeholder => 'Digite aqui seu depoimento.' %>
      </div>
      <div class="field">
        <%= f.text_field :fb,:placeholder => :fb %>
      </div>
      <div class="field">
        <%= f.text_field :photo %>
      </div>
      <div class="field">
        <p>Clique aqui para concordar com os termos de uso do Megafone.me</p>
        <%= f.check_box :accepted %>
      </div>
      <div class="actions">
        <%= f.submit 'Enviar Depoimento' %>  <%= link_to 'Voltar', statements_path, :class => 'back_button' %>
      </div>
  <% end %>
</div>
